/* for space on side of website: */
/* max-width: 1200px; */
/* margin: 0px auto; */

body {
    background: #008b47;
    background: radial-gradient(circle, #008b47 0%, #6bbb4a 100%);
    box-sizing: border-box;
    margin: 0px;

    font-family: 'Noto-regional', 'Noto-latin', TCCC-UnityText, sans-serif;
}

.interior {
    max-width: 1200px;
    margin: 0px auto;
    /* flexbox */
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    padding: 0px;
    /* flexbox */
    display: flex;
}

li {
    padding: 4px;
    margin-left: 20px;
    margin-right: 20px;
}

li:hover {
    color: #008b47;
    padding-bottom: 2px;
    border-bottom: solid 2px #008b47;
}

/* HEADER ----------------------------- */

.header {
    background-color: #ffff;
    box-shadow: 0px 2px 5px #6bbb4a;
}

.headerInt {
    height: 72px;
}

.headerLeft {
    /* flexbox */
    display: flex;
    justify-content: space-between;
}

.companyLogo {
    height: 20px;
    width: auto;
    margin-right: 20px;
    align-self: center;
}

.headerLinks {
    align-self: center;
    font-weight: bold;
}

.hLink {
    font-weight: 700px;
    font-size: 14px;
    letter-spacing: 0;
}

.profileImage {
    width: 24px;
    height: 24px;
    align-self: center;
    padding-bottom: 4px;
    margin-top: 4px;

    background-image: url(images/profile-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.profileImage:hover {
    padding-bottom: 2px;
    background-image: url(images/profile-icon-green.png);
    border-bottom: solid 2px #008b47;
}