/* for space on side of website: */
/* max-width: 1200px; */
/* margin: 0px auto; */

body {
    background: #008b47;
    background: radial-gradient(circle, #008b47 0%, #6bbb4a 100%);
    margin: 0px;
    /* box-sizing: border-box; */
}

.interior {
    max-width: 1200px;
    margin: 0px auto;
    /* flexbox */
    display: flex;
}

/* HEADER */

.header {
    background-color: #ffff;
}

.companyLogo {
    height: auto;
    max-width: 125px;
}