/* for space on side of website: */
/* max-width: 1200px; */
/* margin: 0px auto; */

body {
    background: #008b47;
    background: radial-gradient(circle, #008b47 0%, #6bbb4a 100%);
    box-sizing: border-box;
    margin: 0px;

    font-family: 'Noto-regional', 'Noto-latin', TCCC-UnityText, sans-serif;
}

.interior {
    max-width: 1200px;
    margin: 0px auto;
    /* flexbox */
    display: flex;
}

ul {
    list-style: none;
    padding: 0px;
    /* flexbox */
    display: flex;
}

/* HEADER ----------------------------- */

.header {
    background-color: #ffff;
}

.headerInt {
    height: 72px;
    /* flexbox */
    justify-content: space-between;
}

.headerLeft {
    /* flexbox */
    display: flex;
    justify-content: space-between;
}

.companyLogo {
    height: 20px;
    width: auto;
    margin-right: 20px;
    align-self: center;
}

.headerLinks {
    align-self: center;
    font-weight: bold;
}

.hLink {
    font-weight: 700px;
    font-size: 14px;
    letter-spacing: 0;

    padding: 4px;
    margin-left: 20px;
    margin-right: 20px;
}

.hLink:hover {
    color: #008b47;
    padding-bottom: 2px;
    border-bottom: solid 2px #008b47;
}

.profileImage {
    width: 24px;
    height: 24px;
    align-self: center;
    padding-bottom: 4px;
    margin-top: 4px;

    background-image: url(images/profile-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.profileImage:hover {
    padding-bottom: 2px;
    background-image: url(images/profile-icon-green.png);
    border-bottom: solid 2px #008b47;
}

/* SUBHEADER ----------------------------- */

.subHeader {
    background-color: #ffff;
    box-shadow: 0px 2px 5px #6bbb4a;
}

.subHeaderInt {
    height: 100px;
    /* flexbox */
    justify-content: center;
}

.spriteLogo {
    height: 64px;
    width: auto;
    margin: 8px 0px;

    align-self: center;
}

/* SUBLINKS ----------------------------- */

.subLinks {
    position: sticky;
    top: 0;
}

.subLinksInt {
    justify-content: center;
}

.subLinksLinks {
    padding: 4px 24px;
    margin-top: 28px;
    margin-bottom: 28px;
    border-radius: 20px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
}

.sLLink {
    font-weight: 700px;
    font-size: 14px;
    letter-spacing: 0;

    padding: 4px 0px;
    color: #ffff;
    margin: 16px;
}

.sLLink:hover {
    padding-bottom: 2px;
    border-bottom: solid 2px #ffff;
}

/* VIDEO ----------------------------- */

.videoInt {
    width: 1120px;
}

.ytVideo {
    border: none;
    border-radius: 20px;
    margin-top: 28px;
}

/* STAY IN THE KNOW ----------------------------- */

.knowInt, .followInt {
    width: 1120px;
    height: 200px;
    margin-top: 120px;
    margin-bottom: 120px;
    border-radius: 20px;
    background-color: #fff;
    /* flexbox */
    justify-content: space-between;
    align-items: center;
}

.knowText, .followText {
    color: rgba(0, 0, 0);
    font-size: 40px;
    font-weight: bold;
    margin-left: 100px;
}

.knowButton {
    margin-right: 100px;
    width: 300px;
    height: 40px;
    color: rgba(0, 0, 0);
    font-weight: 700;
    font-size: 14px;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0);
    border-radius: 20px;
}

.knowButton:hover {
    background-color: #6bbb4a;
    border: #6bbb4a;
    color: #fff;
}

/* WHATS NEW ----------------------------- */

.whatsNew {
    margin-bottom: 120px;
}

.whatsNewTitle {
    max-width: 1200px;
    margin: 0px auto;
    margin-bottom: 56px;
    padding: 0px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.whatsNewInt {
    max-width: 1120px;
    /* flexbox */
    justify-content: space-between;
}

.card {
    background-color: #fff;
    width: 540px;
    height: 675px;
    border-radius: 20px;
}

.card:hover {
    background-color: #fafafa;
    box-shadow: 0px 0px 8px 1px #008b47;
}

.cardImg {
    width: 540px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.cardText {
    margin: 0px;
}

.cardInner {
    margin: 30px;
    height: 30%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* flexbox */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardSub {
    font-size: 30px;
    margin-bottom: 12px;
}

.cardParagraph {
    font-size: 20px;
    line-height: 24px;
}

.cardLink {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    color: rgba(0, 0, 0); 
}

.card:hover .cardLink {
    color: #5c5c5c;
}

/* INSTAGRAM ----------------------------- */

/* FOLLOW SPRITE ----------------------------- */

.mediaButt {
    margin-right: 100px;
}

.xButton, .instaButton, .ytButton, .faceButton {
    width: 100px;
    height: 40px;
    margin: 0px 8px;
    color: rgba(0, 0, 0);
    font-weight: 700;
    font-size: 14px;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0);
    border-radius: 20px;
}

.xButton {
    margin-left: 0px;
}

.faceButton {
    margin-right: 0px;
}

.xButton:hover, .instaButton:hover, .ytButton:hover, .faceButton:hover {
    color: #fff;
    background-color: #6bbb4a;
    border-color: #6bbb4a;
}

/* FOOTER ----------------------------- */

.footer {
    padding: 40px 0px;
    background-color: rgba(0, 0, 0);
}

/* .footerImg {
    border-bottom: 1px solid #fff;
} */

.colaLogo {
    width: auto;
    height: 40px;
    margin-bottom: 40px;
}

.footerBody {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.footerLeft{
    /* flexbox */
    display: flex;
}

.help, .shopVisit, .legal {
    color: #fff;
    width: 200px;
    margin: 40px 0px;
}

.help, .shopVisit {
    margin-right: 12px;
}

.footerLinks {
    display: block;
}

.footerLinks li {
    margin: 14px 0px;
    font-weight: 700;
}

.footerSub {
    font-size: 12px;
}

.footerLinks {
    margin-right: 0px;
    margin-left: auto;
}

.footerButt {
    margin-top: 40px;

    width: 100px;
    height: 40px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
}

.footerCopyright {
    color: #fff;
    margin-top: 40px;
    justify-content: flex-end;
}

.footerLink {
    color: #fff;
}